language: scala
matrix:
  include:
  - env: SBT_VERSION="0.13.16"
    jdk: openjdk7
  - env: SBT_VERSION="1.0.4"
    jdk: oraclejdk8
  - env: SBT_VERSION="1.1.0-RC1"
    jdk: oraclejdk8
script:
 - git config --global user.email "example@example.com"
 - git config --global user.name "example"
 - echo '[ui]' > "$HOME/.hgrc"
 - echo 'username = example <example@example.com>' >> "$HOME/.hgrc"
 - sbt "^^ ${SBT_VERSION}" test scripted
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/launchers"
before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
sudo: false
addons:
  apt:
    packages:
    - oracle-java8-installer
