name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 8 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            sbt_version: "1.2.8"
          - java: 8
          - java: 11
    steps:
    - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      with:
        fetch-depth: 0
    - uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # v3.9.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: coursier/cache-action@60455feeb7a70875fc37e0228606262bbf361990 # v6.4.1
    - run: |
        git config --global user.email "example@example.com"
        git config --global user.name "example"
        echo '[ui]' > "$HOME/.hgrc"
        echo 'username = example <example@example.com>' >> "$HOME/.hgrc"
    - run: sbt -v $(if [[ "${{matrix.sbt_version}}" != "" ]] ; then echo "^^${{matrix.sbt_version}}" ; fi) test scripted
    - run: rm -rf "$HOME/.ivy2/local" || true
