name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 8 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            sbt_version: "1.2.8"
          - java: 8
          - java: 11
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      with:
        fetch-depth: 0
    - uses: actions/setup-java@1df8dbefe2a8cbc99770194893dd902763bee34b # v3.9.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: coursier/cache-action@d1039466d0812d6370649b9afb02bbf5f646bacf # v6.4.3
    - run: |
        git config --global user.email "example@example.com"
        git config --global user.name "example"
        echo '[ui]' > "$HOME/.hgrc"
        echo 'username = example <example@example.com>' >> "$HOME/.hgrc"
    - run: sbt -v $(if [[ "${{matrix.sbt_version}}" != "" ]] ; then echo "^^${{matrix.sbt_version}}" ; fi) test scripted
    - run: rm -rf "$HOME/.ivy2/local" || true
