name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 8 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            sbt_version: "1.4.9"
          - java: 8
            sbt_version: "2"
          - java: 8
          - java: 25
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: |
        git config --global user.email "example@example.com"
        git config --global user.name "example"
        echo '[ui]' > "$HOME/.hgrc"
        echo 'username = example <example@example.com>' >> "$HOME/.hgrc"
    - run: sbt "+ scalafmtCheckAll" scalafmtSbtCheck
    - run: sbt -v "set pluginCrossBuild / sbtVersion := \"${{matrix.sbt_version}}\"" test scripted
      if: ${{ matrix.sbt_version != '' && matrix.sbt_version != '2' }}
    - run: sbt -v test scripted
      if: ${{ matrix.sbt_version == '' }}
    - run: sbt -v "++ 3.x" Test/compile test scripted
      if: ${{ matrix.sbt_version == '2' }}
    - run: rm -rf "$HOME/.ivy2/local" || true
